{{define "title"}}BJJ{{end}}

{{define "head"}}
<link rel="stylesheet" href="/static/css/bjj.css" />
{{end}}

{{define "main"}}
<h1>BJJ Reference</h1>
<ul>
    {{range .BJJTechniques}}
    <li>
        <h2>{{.Name}}</h2>
        <p>{{.Position}}</p>
        {{if .YouTube}}
            <a class="video" href="{{.YouTube}}" target="_blank" rel="noopener noreferrer">
                <img src="{{.Thumbnail}}" alt="Video: {{.Name}}" loading="lazy">
            </a>
        {{else}}
            <p>{{.Description}}</p>
        {{end}}
    </li>
    {{end}}
</ul>
{{end}}