{{define "base"}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{template "title" .}} - Jesse</title>
        <link rel="icon" type="image/png" href="/static/img/donkey.png" />
        <link rel="stylesheet" href="/static/css/main.css" />
        {{block "head" .}}{{end}}
    </head>
    <body>
        <a class="back" href="/">&larr; Home</a>
        <main>{{template "main" .}}</main>
    </body>
</html>
{{end}}
